<div>
  <a href="/dashboard/add"><button type="button" class="button newpost-btn">New Post</button></a>
</div>

{{#if posts.length}}
<section>
  <h3>Your Posts</h3>

  {{#each posts as |post|}}

  <article class="card" style="margin-bottom: 15px;">

    <div class="card-header">
      <a href="/dashboard/edit/{{post.id}}" class="card-title" style="font-size: 20px;">{{title}}</a>
      <span class="card-title float-right" style="font-size: small;" ;>Created by: {{user.username}} Posted on:
        {{format_date created_at}}</span>
    </div>
    <div class="card-body">
      <p class="card-text" style="font-size: 15px;">{{contents}}</p>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>


  </article>

  {{/each}}

</section>
{{/if}}