<ol class="post-list">
    <!-- Loop over each object in the posts array -->
  {{#each posts as |post| }}
  <li>
    <article class="post">
      <div class="title">
       <span> <a href="/post/{{id}}">{{title}}</a> </span>
       <span style = "float:right">  Posted on {{format_date created_at}} Created by: {{user.username}} </span><br>
      </div>
      <span>{{{contents}}}</span>
      
      {{!-- <div class="meta" style="font-size: small;">
        Posted on {{format_date created_at}} Created by: {{user.username}}
      </div> --}}
    </article>
  </li>
  {{/each}}
</ol>